
.ima1{
width: 80px;
height: 75px;
border-radius: 100px;
margin-bottom: 10px;
margin-top: 10px;
padding: -30px;
margin-left: 15px;
margin-right:15px;
}
#navbarSupportedContent{
margin-left: 15px;
margin-right: 15px;
margin-bottom: 10px;

}
#barraNavegar{
  margin-left: 1px;
  margin-right:1px;
  background-image: linear-gradient(rgba(5, 10, 5, 0.80), rgba(90, 40, 90, 0.80)), url(./ima3.jpg);
}

.container-fluid{
background: #0dcaf087;

}
.nav-item{
  margin-left:50px;
  margin-right:50px
}
.imagen{
  width: 100%;
  border-radius: 10px;
  margin-left: 1px;
  margin-right:1px;
}
.body{
background-color: #0dcaf087;

}
.texto1{
text-align: center;


}
.texto2{
  text-align: center;

}
.tabla{
  border:3px solid #3d939d;
  height: 550px;
  border-radius: 12px;

}
.t{
  text-align: center;
}
.lugar{
  width: 50px;
  height: 10px;
}
.tabla1{
  background-color: #5d8991;
  height: 180px;

 }
.follow_us{

  margin-top: 25px;
  -webkit-animation-delay: 1.1s;
}
footer {
	background-color:#1A1A1A;
	height: 50%;
  color: white;
  padding: 15px;
}

.main1 {
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: #fff;
}
.redes{
  width: 40px;
  height: 40px;
}
