.imgcuenca1{
  width: 60%;
  height: 70%;
margin-top: 5%;
border-radius: 8px;
}

.pcuenca{
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}
.p1c{
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}
.pcm{
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;

}
.gastronomia{
  border-radius: 20px;
  width: 60%;
  height: 60%;
}
