.edi{
  width: 50%;
  height: 50%;
margin-top: 10%;
border-radius: 12px;
}
.p{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 15px;
  text-align: justify;
}
.q{
  color:#0e3269;
}
.volcan{
  width: 50%;
  height: 50%;
margin-top: 10%;
border-radius: 12px;
}
.pa{
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 15px;
  text-align: justify;
}
